# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "US/Mountain"
    ignore:
      # TypeScript ESLint packages to be updated manually
      - dependency-name: "@typescript-eslint/*"
        update-types: ["version-update:semver-major"]
      # Angular packages to be updated manually
      - dependency-name: "@angular-eslint/*"
        update-types: ["version-update:semver-major"]
    groups:
      typescript-eslint:
        patterns:
          - '@typescript-eslint/*' # Update all TypeScript ESLint packages together
      angular-eslint:
        patterns:
          - '@angular-eslint/*' # Update all Angular ESLint packages together

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "US/Mountain"
